*{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
header{
background-color:rgb(53, 51, 51);
width: 100%;
height: 25vh;
}
h1{
  text-align: center;
  margin-top: 5%;
  color: #e6e1e1;
}
.container{
  background: url(store.jpg) center;
  height: 85vh;
  text-align: center;
}
.overlay{
  width: 100%;
  height: 100%;
  background: #e6e1e1;
  opacity: 0.75;
  position: absolute;
}

.intro,.bus-hours{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  z-index: 1;
  font-weight: bold;
}
p{
  margin-top: 5%;
}