@import url('https://fonts.googleapis.com/css\/family-Open+Sans:400,500&display-swap');

*{
  box-sizing: border-box;
}

body{
  background-color: #111;
  font-family: 'Open Sans' sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.container{
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 500px;
  max-width: 100%;
}

.header{

  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
}

.header h2{
  margin: 0;
}

.form{
  padding: 30px 40px;
}

.form-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label{
  display: inline-block;
  margin-bottom: 5px;

}

.form-control input{

  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
font-family: inherit;
font-size: 14px;
padding: 10px;
width: 100%;
}

.form-control.success input{
  border-color: #2ecc71;

}
.form-control.error input{
  border-color: #e74c3d;
  
}


.form-control i{
  position: absolute;
  top: 40px;
  right: 10px;
  visibility: hidden;
}

.form-control.success i.fa-check-circle{
  visibility: visible;
  color: #2ecc71;
}

.form-control.success i.fa-check-circle{
  visibility: visible;
  color: #2ecc71;
}

.form-control.error i.fa-check-circle{
  visibility: visible;
  color:#e74c3d;
}
.form-control.error i.fa-exclamation-circle{
  visibility: visible;
  color:#e74c3d;
}


.form-control small{
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small{
  visibility: visible;
  color: #e74c3d;
}

.form button{
  background-color: #333;
  border: 2px solid #333;
  color:  white;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  align-items: center;
  margin-top: 1rem;
}

.form button:hover{
  transition: all ease-in-out 250ms;
  background-color: #fff;
  color: #333;
  border: 2px solid #fff;
  font-weight: bolder;
}


.opinion{
  border: 1px solid black ;
  border-radius: 5px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
}
