body{
 background-color: #444;
 font-family:sans-serif ;
}

h1,h3,h6{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
 
  
}
.container{
  align-items: center;
}

.radio-inline{
  margin: 0px 40px 20px 0px;
  cursor: pointer;
  padding:10rem;
  padding-bottom: 10rem;
  align-items: center;
}

label{
  color: #000;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  padding-left: 80px;
  padding-bottom: 15px;
}


#text{
height: 40px;
border-radius: 333px;
padding-left: 10px;
margin-left: 25%;
padding-top: 4px;
border: none;
width: 50%;
color: #000;
display: flex;
  align-items: center;
  justify-content: center;
}

#message{
  outline: none;
  border: none ;
  font-size: 1rem;
  color: #000;
  border-radius: 333px;
  width: 50%;
  margin-left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button{
  height: 40px;
  border-radius: 333px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 10px;
width: 20%;
}
button:hover{
  background-color: #444;
  color: white;
  border-style: solid ;
 
}
