body{
  background:#000;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  }

  header{
    overflow: hidden;
    background-color: #fff;
    margin: 0;
    padding: 0;
  }

  .head{
  margin-right: 10px;
  }

nav{
  float: right;
}


h2{
  color: #000;
  font-size: 1.6rem; /* 1rem = 16px */
  float: left;
  font-family: cursive;
  margin-left: 5px;
}

ul{
  border-left:3px solid #000;
}

li{
  display: inline-block;
}

li a i{

  padding: 20px;
  color: #000;
  font-family: cursive;
  font-size: 1.5rem;
  text-decoration:none;
  cursor:pointer;
}

li a i:hover{
color: rgb(105, 202, 105);
transition: all ease-in-out 200ms;
}

.slideshow{
  display: inline-flex;
  padding: 20px;
  justify-content: space-between;
}
.men{
  width:50%;

}
.women{
  width: 50%;
  
}
.men img{
width: 400px;
margin-left: 10px;
}
.women img{
 width: 400px;
}