body{
  background:#000;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  }

  header{
    overflow: hidden;
    background-color: #fff;
    margin: 0;
    padding: 0;
  }

  .head{
  margin-right: 10px;
  }

nav{
  float: right;
}


h2{
  color: #000;
  font-size: 1.6rem; /* 1rem = 16px */
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
}

ul{
  border-left:3px solid #000;
}

li{
  display: inline-block;
}

li a i{

  padding: 20px;
  color: #000;
  font-family: cursive;
  font-size: 1.5rem;
  text-decoration:none;
  cursor:pointer;
}

li a i:hover{
color: rgb(105, 202, 105);
transition: all ease-in-out 200ms;
}


.slidershow{
  width: 400px;
  height: 500px;
  overflow: hidden;
}
.left{
  position: absolute;
  top: 57%;
  left: 20%;
  transform: translate(-50%,-50%);

}

.middle{
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%,-50%);

}

.right{
  position: absolute;
  top: 57%;
  left: 80%;
  transform: translate(-50%,-50%);

}

.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar{
width: 50px;
height: 10px;
border: 2px solid #000;
margin: 6px;
cursor: pointer;
transition: 0.4s;
}

.bar:hover{
  background: #fff;
}

input[name="r"]{
  position: absolute;
  visibility: hidden
  ;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}

.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}

#r2:checked ~ .s1{
  margin-left: -20%;
}

#r3:checked ~ .s1{
  margin-left: -40%;
}

#r4:checked ~ .s1{
  margin-left: -60%;
}

#r5:checked ~ .s1{
  margin-left: -80%;
}

#r6:checked ~ .s2{
  margin-left: 0;
}

#r7:checked ~ .s2{
  margin-left: -20%;
}

#r8:checked ~ .s2{
  margin-left: -40%;
}

#r9:checked ~ .s2{
  margin-left: -60%;
}

#r10:checked ~ .s2{
  margin-left: -80%;
}

#r11:checked ~ .s3{
  margin-left: 0;
}

#r12:checked ~ .s3{
  margin-left: -20%;
}

#r13:checked ~ .s3{
  margin-left: -40%;
}


#r14:checked ~ .s3{
  margin-left: -60%;
}

#r15:checked ~ .s3{
  margin-left: -80%;
}

footer{
  background-color: #000;
  margin-top: 40%;
  height: 50px;
}
.list li a i{
  color: #fff;
word-spacing: 1px;
}

#instagram:hover{
  color: violet;
  transition: all ease-out 250ms;
}

#facebook:hover{
  color: rgb(11, 11, 105);
  transition: all ease-out 250ms;
}

#location:hover{
  color: red;
  transition: all ease-out 250ms;
}


.list li a{
  color: #fff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

p{
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  margin-top: -2%;
  font-size: 1rem;
font-weight: bold;
margin-left: 55px;
}